# STM32 SPI driver configuration options

# Copyright (c) 2015-2016 Intel Corporation
# Copyright (c) 2025 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig SPI_RUBUS_STM32
	bool "STM32 MCU SPI controller driver"
	default y
	depends on DT_HAS_RUBUS_STM32_SPI_ENABLED
	select USE_STM32_LL_SPI
	select PINCTRL
	select SPI_RTIO
	help
	  Enable SPI support on the STM32 family of processors.

if SPI_RUBUS_STM32

config SPI_RUBUS_STM32_INTERRUPT
	bool "STM32 MCU SPI Interrupt Support"
	default y
	help
	  Enable Interrupt support for the SPI Driver of STM32 family.

config SPI_RUBUS_STM32_DMA
	bool "STM32 MCU SPI DMA Support"
	select DMA
	select CACHE_MANAGEMENT if CPU_HAS_DCACHE
	help
	  Enable the SPI DMA mode for SPI instances
	  that enable dma channels in their device tree node.

config SPI_RUBUS_STM32_DMA_MIN_LEN
	int "Minimum transfer length to use DMA"
	default 64
	depends on SPI_RUBUS_STM32_DMA
	help
	  Minimum number of bytes in a transfer to use DMA instead of
	  interrupt or polling mode. DMA has overhead for setup, so very
	  small transfers are more efficient with interrupt/polling modes.
	  This value should be tuned based on your application's typical
	  transfer sizes and performance requirements.

config SPI_RUBUS_STM32_USE_HW_SS
	bool "STM32 Hardware Slave Select support"
	default n
	help
	  Use Slave Select pin instead of software Slave Select.

config SPI_RUBUS_STM32_ERRATA_BUSY
	bool
	default y
	depends on SOC_SERIES_STM32F7X || SOC_SERIES_STM32L4X
	help
	  Handles erratum "BSY bit may stay high at the end of a data
	  transfer in slave mode".
	  Seen for instance in Errata Sheet 0290 §2.11.2

if SPI_RUBUS_STM32_ERRATA_BUSY

config SPI_RUBUS_STM32_BUSY_FLAG_TIMEOUT
	int "timeout in us for the STM32 busy flag workaround"
	default 10000

endif # SPI_RUBUS_STM32_ERRATA_BUSY

config SPI_RUBUS_STM32_RTIO_SQ_SIZE
	int "Number of available submission queue entries"
	default 8 # Sensible default that covers most common spi transactions
	help
	  When RTIO is used with SPI, each driver holds a context whose blocking API
	  calls is used to perform SPI transactions. This queue needs to be as deep
	  as the longest set of spi_buf_sets used, where normal SPI operations are
	  used (equal length buffers). It may need to be slightly deeper where the
	  spi buffer sets for transmit/receive are not always matched equally in
	  length as these are transformed into normal transceives.

config SPI_RUBUS_STM32_RTIO_CQ_SIZE
	int "Number of available completion queue entries"
	default 8 # Sensible default that covers most common spi transactions

endif # SPI_RUBUS_STM32
