# SPI driver configuration options

# Copyright (c) 2025 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

#
# SPI Drivers
#
# menuconfig SPI
# 	bool "Serial Peripheral Interface (SPI) bus drivers"
# 	help
# 	  Enable support for the SPI hardware bus.

if SPI

rsource "Kconfig.stm32"

endif