# Copyright (c) 2025 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

menuconfig GATE_DRIVER
    bool "Gate Driver Support"
    help
      Enable config options for Gate Driver support.

if GATE_DRIVER
module = GATE_DRIVER
module-str = gate_driver
source "subsys/logging/Kconfig.template.log_config"

config GATE_DRIVER_INIT_PRIORITY
	int "Gate driver initialization priority"
	default 60
	help
	  System initialization priority for gate driver drivers.
	  Must be higher than PWM_INIT_PRIORITY since gate drivers depend on PWM.

rsource "Kconfig.drv8328"

endif # GATE_DRIVER