# Copyright (c) 2021 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

menu "Drivers"
rsource "adc/Kconfig"
rsource "gate_driver/Kconfig"
rsource "pwm/Kconfig"
rsource "sensor/Kconfig"
rsource "spi/Kconfig"
rsource "timer_ic/Kconfig"
endmenu
