/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

#include <zephyr/dt-bindings/dma/stm32_dma.h>
#include <dt-bindings/current-sense.h>

/ {
	voltage_sense: voltage_sense {
		compatible = "rubus,voltage-sense";
		channel = <0>;
		adc-buffer-index = <2>;
		vref-mv = <3000>;
		output-ohms = <10000>;
		full-ohms = <(191000 + 10000)>;
	};

	current_sense: current_sense {
		compatible = "rubus,current-sense";
		channels = <1 CURRENT_SENSE_POSITIVE>, <2 CURRENT_SENSE_POSITIVE>;
		adc-buffer-indices = <0 1>;
		current-sense-resistor-uohms = <10000>;
		current-sense-gain = <50>;
		vref-mv = <3000>;
	};

	angle_observer: angle_observer {
		compatible = "rubus,angle-observer";
		/* Observer bandwidth in Hz (position tracking) */
		bandwidth-hz = <200>;
	};
};

/ {
	model = "Smart Stepper Controller V2";
	compatible = "rubus,smartstepper_v2";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	photo_interruptor_enable {
		compatible = "rubus,app-gpio";
		gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	trig {
		compatible = "rubus,app-gpio";
		gpios = <&gpiob 9 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

// / {
// 	fstab {
// 		compatible = "zephyr,fstab";
// 		lfs1: lfs1 {
// 			compatible = "zephyr,fstab,littlefs";
// 			read-size = <32>;
// 			prog-size = <32>;
// 			cache-size = <256>;
// 			lookahead-size = <64>;
// 			block-cycles = <512>;
// 			partition = <&filesystem>;
// 			mount-point = "/lfs1";
// 		};
// 	};
// };

&usart1 {
	status = "okay";
};

// Timer 2 is used for input capture of clock generator and photo-interrupter
&timers2 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,master-mode;
	st,countermode = <STM32_TIM_COUNTERMODE_UP>;

	triggers: triggers {
		compatible = "st,stm32-timer-ic";
		pinctrl-0 = <&tim2_ch1_pa0 &tim2_ch2_pb3>;
		pinctrl-names = "default";
		capture-gpios = <&gpioa 0 GPIO_ACTIVE_HIGH>, <&gpiob 3 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

// TIM1 is master for TIM3 and TIM8 synchronization
&timers1 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_CENTER_UP_DOWN>;
	st,master-mode;
	st,master-mode-selection = <0x10>; // LL_TIM_TRGO_ENABLE - sync TIM3 and TIM8

	pwm1:mcpwm {
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

// TIM3 is slave of TIM1
&timers3 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_UP>;
	st,slave-mode;
	st,slave-mode-selection = <0x6>; // LL_TIM_SLAVEMODE_TRIGGER
	st,trigger-selection = <0x00>; // ITR0 = TIM1

	pwm3:mcpwm {
		compatible = "st,stm32-mcpwm";
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

// TIM8 is slave of TIM1
&timers8 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_CENTER_UP_DOWN>;
	st,slave-mode;
	st,slave-mode-selection = <0x6>; // LL_TIM_SLAVEMODE_TRIGGER
	st,trigger-selection = <0x00>; // ITR0 = TIM1

	pwm8:mcpwm {
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

&adc1 {
	compatible = "st,stm32-adc-injected";
	status = "okay";
	resolution = <16>;
	st,adc-trigger-source = "TIM1_CH4";
	st,adc-trigger-edge = "rising";
};
