/*
 * Copyright (c) 2021 Nordic Semiconductor ASA
 * SPDX-License-Identifier: Apache-2.0
 */

// / {
// 		/* Current sampler config, ADC channels */
// 	/* FIXME: Add drv8328 driver */
// 	/* drv8328 needs function to wiggle SLEEP to reset an error */
// 	// Need to configure ADC trigger LL_TIM_CC_EnableChannel(config->timer, LL_TIM_CHANNEL_4)
// 	control {
// 		// ADC for current (A, B), bus voltage
// 		// adc-channels = <&adc1 0>,
// 		// 	<&adc1 1>,
// 		// 	<&adc1 5>;
// 		// current-sense-resistor-uohms = <10000>;
// 		// current-sense-gain = <50>;
// 		// phase-inductance-uh = <3400>;
// 		// phase-resistance-mohms = <5600>;

// 		current-sense-resistor-uohms = <10000>;
// 		current-sense-gain = <50>;
// 		d-phase-inductance-uh = <3000>;
// 		q-phase-inductance-uh = <3000>;
// 		phase-resistance-mohms = <1600>;

// 		pwms = <&pwm1 4 (PWM_POLARITY_NORMAL | STM32_PWM_OC_MODE_PWM2)>;
// 		amp1 {
// 			compatible = "ti,drv8328";

// 			/* If FAULT interrupt is used instead of BRKIN */
// 			/* Fault interrupt should turn off PWM */
// 			// fault-gpios = <&gpioi 4 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

// 			sleep-gpios = <&gpiog 14 GPIO_ACTIVE_HIGH>;

// 			pwms = <&pwm1 1 PWM_POLARITY_NORMAL>,
// 				   <&pwm1 2 PWM_POLARITY_NORMAL>;
// 		};

// 		amp2 {
// 			compatible = "ti,drv8328";

// 			/* If FAULT interrupt is used instead of BRKIN */
// 			// fault-gpios = <&gpiob 15 (GPIO_ACTIVE_LOW | GPIO_PULL_UP)>;

// 			sleep-gpios = <&gpiod 8 GPIO_ACTIVE_HIGH>;

// 			pwms = <&pwm8 1 PWM_POLARITY_NORMAL>,
// 				   <&pwm8 2 PWM_POLARITY_NORMAL>;
// 		};
// 	};
// };

/ {
	user_parameters {
		nominal_voltage-mv = <24000>;
		pwm-frequency-hz = <PWM_KHZ(20)>;
		control-loop-frequency-hz = <10000>;
		offset-pole-hz = <30000>;
		align-current-ma = <500>;
		align-duration-ms = <1000>;
		brake-current-ma = <1000>;
		max-vs-mpu = <570>;
	};

	vbus_sense {
		channel = <0>;
		full_scale_voltage-mv = <((191000 + 10000) / 10000 * 3000)>;
	};

	current_sense1 {
		channel = <1>;
		current-sense-resistor-uohms = <10000>;
		current-sense-gain = <50>;
		full-scale-current-ma = <3000>;
		offset-calibration-ma = <1500>;
	};

	current_sense2 {
		channel = <2>;
		current-sense-resistor-uohms = <10000>;
		current-sense-gain = <50>;
		full-scale-current-ma = <3000>;
		offset-calibration-ma = <1500>;
	};	

	motor_parameters {
		inductance-d-uh = <3400>;
		inductance-q-uh = <3400>;
		resistance-mohms = <5600>;
		flux_linkage_mvphz = <15000>;
		pole-pairs = <50>;
		max-current-ma = <3000>;
		inertia-mgcm2 = <9000>;
		max-speed-hz = <400>;
		max-current-ma = <670>;
	};
};

/ {
	model = "Smart Stepper Controller";
	compatible = "rubus,smartstepper";

	chosen {
		zephyr,console = &usart1;
		zephyr,shell-uart = &usart1;
	};

	aliases {
		encoder1 = &aeat9955;
	};

	photo_interruptor_enable {
		compatible = "rubus,app-gpio";
		gpios = <&gpioe 1 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};	
};

// / {
// 	fstab {
// 		compatible = "zephyr,fstab";
// 		lfs1: lfs1 {
// 			compatible = "zephyr,fstab,littlefs";
// 			read-size = <32>;
// 			prog-size = <32>;
// 			cache-size = <256>;
// 			lookahead-size = <64>;
// 			block-cycles = <512>;
// 			partition = <&filesystem>;
// 			mount-point = "/lfs1";
// 		};
// 	};
// };

&usart1 {
	status = "okay";
};

&spi1 {
	// dmas = <&dma2 3 5 (STM32_DMA_PERIPH_TX | STM32_DMA_MEM_8BITS)>,
	// 	<&dma2 3 0 (STM32_DMA_PERIPH_RX | STM32_DMA_MEM_8BITS)>;

	// dma-names = "tx", "rx";
};

&dma1 {
	status = "okay";
};

&dma2 {
	status = "okay";
};

&spi2 {
	status = "okay";
};

&spi3 {
	status = "okay";

	aeat9955: aeat9955@0 {
		compatible = "brcm,aeat-9955";
		reg = <0>;
		spi-max-frequency = <DT_FREQ_M(4)>;
		status = "okay";
	};
};

// TIM1 is master for TIM3 and TIM8 synchronization
&timers1 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_CENTER_UP_DOWN>;
	st,master-mode;
	st,master-mode-selection = <0x10>; // LL_TIM_TRGO_ENABLE - sync TIM3 and TIM8

	pwm1:mcpwm {
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

// TIM3 is slave of TIM1
&timers3 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_UP>;
	st,slave-mode;
	st,slave-mode-selection = <0x6>; // LL_TIM_SLAVEMODE_TRIGGER
	st,trigger-selection = <0x00>; // ITR0 = TIM1

	pwm3:mcpwm {
		compatible = "st,stm32-mcpwm";
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

// TIM8 is slave of TIM1
&timers8 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,countermode = <STM32_TIM_COUNTERMODE_CENTER_UP_DOWN>;
	st,slave-mode;
	st,slave-mode-selection = <0x6>; // LL_TIM_SLAVEMODE_TRIGGER
	st,trigger-selection = <0x00>; // ITR0 = TIM1

	pwm8:mcpwm {
		compatible = "st,stm32-mcpwm";
		period = <PWM_KHZ(20)>;
		status = "okay";
		#pwm-cells = <2>;
	};
};

// Timer 4 is used for input capture of clock generator and photo-interrupter
&timers4 {
	compatible = "rubus,stm32-timers";
	st,prescaler = <0>;
	status = "okay";
	st,master-mode;
	st,countermode = <STM32_TIM_COUNTERMODE_UP>;

	triggers: triggers {
		compatible = "st,stm32-timer-ic";
		pinctrl-0 = <&tim4_ch1_pd12 &tim4_ch2_pd13>;
		pinctrl-names = "default";
		status = "okay";
	};
};

&adc1 {
	compatible = "st,stm32-adc-injected";
	status = "okay";
	st,adc-trigger-source = "tim1_cc4";
};
