# Copyright (c) 2025 Rubus Technologies Inc.
# SPDX-License-Identifier: Apache-2.0

# menuconfig PWM
# 	bool "Pulse Width Modulation (PWM) drivers"
# 	help
# 	  Enable config options for PWM drivers.

if PWM

# module = PWM
# module-str = pwm
# source "subsys/logging/Kconfig.template.log_config"

# config PWM_INIT_PRIORITY
# 	int "PWM initialization priority"
# 	default KERNEL_INIT_PRIORITY_DEVICE
# 	help
# 	  System initialization priority for PWM drivers.

rsource "Kconfig.stm32"


endif # PWM
